{"openapi":"3.1.1","info":{"version":"2.0.0","title":"Productboard API v2 - Analytics","termsOfService":"https://www.productboard.com/msa/","description":"API for retrieving analytics data about product usage with optional date filtering and pagination.\n","license":{"name":"Productboard Proprietary","url":"https://www.productboard.com/"},"contact":{"name":"Productboard Support","url":"https://support.productboard.com","email":"support@productboard.com"}},"servers":[{"url":"https://api.productboard.com/v2","description":"Production server"}],"security":[{"BearerAuth":[]},{"OAuth2":["analytics:read"]}],"paths":{"/analytics/member-activities":{"get":{"summary":"Retrieve member activity data","description":"Retrieves member activity data with optional date filtering and pagination.\nReturns a list of member activity records.\n","operationId":"getMembersActivity","parameters":[{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Start date for filtering activity data (ISO 8601 format)","example":"2025-10-01"},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"End date for filtering activity data (ISO 8601 format)","example":"2025-10-31"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":100},"description":"Maximum number of records to return","example":100},{"name":"pageCursor","in":"query","required":false,"schema":{"type":"string"},"description":"Cursor for pagination to get the next page of results"}],"responses":{"200":{"description":"Successful response with member activity data","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MemberActivityPayload"}},"links":{"type":"object","properties":{"next":{"oneOf":[{"type":"string","format":"uri","example":"http://api.productboard.com/member-activities?pageCursor=some_cursor"},{"type":"null"}]}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"500":{"$ref":"#/components/responses/InternalServerError"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API token authentication. Use your API token as the value of the Authorization header"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.","flows":{"authorizationCode":{"authorizationUrl":"https://app.productboard.com/oauth/authorize","tokenUrl":"https://app.productboard.com/oauth/token","scopes":{"analytics:read":"Read access to analytics data"}}}}},"schemas":{"MemberActivityPayload":{"type":"object","description":"Represents a member activity record with activity details and metadata.\n","required":["date","domain","memberId","role","activeFlag"],"properties":{"date":{"$ref":"#/components/schemas/DateFieldValue","description":"Date of the activity"},"domain":{"type":"string","description":"Domain identifier for the space","example":"acme-corp"},"memberId":{"$ref":"#/components/schemas/UUID","description":"ID of the member who performed the activity"},"role":{"type":"string","description":"Role of the member who performed the activity","example":"admin"},"activeFlag":{"$ref":"#/components/schemas/BooleanFieldValue","description":"Whether the member is active"},"boardCreatedCount":{"type":"integer","minimum":0,"description":"Number of boards created by the member on this date","example":2},"boardOpenedCount":{"type":"integer","minimum":0,"description":"Number of boards opened by the member on this date","example":5},"componentCreatedCount":{"type":"integer","minimum":0,"description":"Number of components created by the member on this date","example":3},"featureCreatedCount":{"type":"integer","minimum":0,"description":"Number of features created by the member on this date","example":1},"insightCreatedCount":{"type":"integer","minimum":0,"description":"Number of insights created by the member on this date","example":4},"noteCreatedCount":{"type":"integer","minimum":0,"description":"Number of notes created by the member on this date","example":7},"productCreatedCount":{"type":"integer","minimum":0,"description":"Number of products created by the member on this date","example":1},"subfeatureCreatedCount":{"type":"integer","minimum":0,"description":"Number of subfeatures created by the member on this date","example":2},"noteStateChangedCount":{"type":"integer","minimum":0,"description":"Number of note state changes by the member on this date","example":3},"gridBoardCreatedCount":{"type":"integer","minimum":0,"description":"Number of grid/prioritization boards created by the member on this date","example":1},"timelineBoardCreatedCount":{"type":"integer","minimum":0,"description":"Number of timeline roadmap boards created by the member on this date","example":1},"insightsBoardCreatedCount":{"type":"integer","minimum":0,"description":"Number of insights boards created by the member on this date","example":1},"documentBoardCreatedCount":{"type":"integer","minimum":0,"description":"Number of document boards created by the member on this date","example":1},"columnBoardCreatedCount":{"type":"integer","minimum":0,"description":"Number of column roadmap boards created by the member on this date","example":1},"gridBoardOpenedCount":{"type":"integer","minimum":0,"description":"Number of grid/prioritization boards opened by the member on this date","example":5},"timelineBoardOpenedCount":{"type":"integer","minimum":0,"description":"Number of timeline boards opened by the member on this date","example":4},"insightsBoardOpenedCount":{"type":"integer","minimum":0,"description":"Number of insights/inbox/analytics boards opened by the member on this date","example":3},"documentBoardOpenedCount":{"type":"integer","minimum":0,"description":"Number of document boards opened by the member on this date","example":2},"columnBoardOpenedCount":{"type":"integer","minimum":0,"description":"Number of column boards opened by the member on this date","example":2}}},"UUID":{"type":"string","format":"uuid","description":"A universally unique identifier (UUID).\n"},"DateFieldValue":{"type":"string","format":"date","description":"Date and time in ISO 8601 format without time.\n","example":"2025-10-01"},"BooleanFieldValue":{"type":"boolean","description":"Boolean value or flag. In the UI, it is usually represented as a single checkbox.\n","example":true},"ErrorResponse":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["title"],"properties":{"status":{"type":"string","description":"The HTTP status code applicable to this problem.","example":"400"},"code":{"type":"string","description":"Application-specific error code.","example":"resource.notFound"},"title":{"type":"string","description":"Short summary of the problem.","example":"Invalid value for 'dateFrom'"},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem."},"source":{"type":"object","description":"Object indicating the source of the error. Present for 400 errors.","properties":{"pointer":{"type":"string","description":"A JSON Pointer to the associated entity in the request document."},"parameter":{"type":"string","description":"Which URI query parameter caused the error."}}}}}}}}},"responses":{"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Forbidden":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"InternalServerError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"x-readme":{"samples-languages":["shell","javascript","ruby"]}}