{"openapi":"3.1.1","info":{"title":"Members","description":"TBD","version":"2.0.0","contact":{"name":"Productboard Support","url":"https://support.productboard.com","email":"support@productboard.com"},"license":{"name":"Productboard Proprietary","url":"https://www.productboard.com/"}},"servers":[{"url":"https://api.productboard.com/v2","description":"Production server"}],"security":[{"BearerAuth":[]},{"OAuth2":["entities:read","write:entities","entities:delete"]}],"paths":{"/members":{"get":{"tags":["members"],"summary":"List members","description":"Retrieves a paginated list of members from your workspace.\nMembers represent users who have access to your Productboard workspace.\n\n- Members are sorted by creation date, oldest first.\n- Use the `query` parameter to search by name or email (case-insensitive, partial match).\n- Use the `roles[]` parameter to filter by role(s). Multiple roles use OR logic (e.g., `roles[]=admin&roles[]=maker`).\n- Use the `includeDisabled` parameter to include disabled members in the response.\n- Use the `includeInvited` parameter to include invited members with pending invitations.\n- Use the `pageCursor` parameter to paginate through results.\n\n> Without the `members_pii:read` OAuth scope, PII fields (`name`, `username`, `email`) are returned as `[obfuscated]`.\n","operationId":"listMembers","security":[{"BearerAuth":["members:read"]}],"parameters":[{"name":"pageCursor","in":"query","description":"Cursor for pagination.","required":false,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Full-text search query. Performs case-insensitive partial match on member name or email.\n","required":false,"schema":{"type":"string","minLength":1,"maxLength":255},"example":"john"},{"name":"roles[]","in":"query","description":"Filter members by role(s). Use multiple `roles[]` parameters to match members\nwith any of the specified roles (OR logic).\n\nExamples:\n- Single role: `roles[]=admin`\n- Multiple roles: `roles[]=admin&roles[]=maker`\n","required":false,"schema":{"type":"array","items":{"type":"string","enum":["admin","maker","viewer","contributor"]}},"style":"form","explode":true,"examples":{"single_role":{"summary":"Filter by single role","value":["admin"]},"multiple_roles":{"summary":"Filter by multiple roles (OR logic)","value":["admin","maker"]}}},{"name":"includeDisabled","in":"query","description":"Include disabled members in the response. By default, disabled members are excluded.\n","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"includeInvitationPending","in":"query","description":"Include members with pending invitations in the response. By default, members with pending invitations are excluded.\n","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"includeInvited","in":"query","deprecated":true,"description":"**Deprecated**: Use `includeInvitationPending` instead.\nInclude members with pending invitations in the response. By default, members with pending invitations are excluded.\n","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"$ref":"#/components/responses/MemberListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/members/{id}":{"get":{"tags":["members"],"summary":"Get member","description":"Retrieves the full details of a specific member by their unique identifier (UUID).\nReturns the member's profile information including name, username, email address, and workspace role.\n\n> Without the `members_pii:read` OAuth scope, PII fields (`name`, `username`, `email`) are returned as `[obfuscated]`.\n","operationId":"getMember","security":[{"BearerAuth":["members:read"]}],"parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the member","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}}],"responses":{"200":{"$ref":"#/components/responses/MemberResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/members/{id}/relationships":{"get":{"tags":["members"],"summary":"List member teams","operationId":"getMemberRelationships","security":[{"BearerAuth":["members:read"]}],"description":"Retrieves all teams that a specific member belongs to.\nReturns a paginated list of team membership relationships representing the member's team associations.\n\nUse the `pageCursor` parameter to paginate through results when the member belongs to many teams.\n\n## Relationship Direction\n\nThis endpoint returns the inverse view of team memberships. While `/v2/teams/{id}/relationships`\nshows which members belong to a team, this endpoint shows which teams a member belongs to.\n","parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the member","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}},{"name":"pageCursor","in":"query","description":"Cursor for pagination through member's teams","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of team memberships for the member","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MemberTeamRelationship"}},"links":{"type":"object","properties":{"next":{"type":["string","null"],"description":"URL to the next page of teams. Null when all teams are returned.\n"}}}}},"examples":{"member_teams":{"summary":"Member's team memberships list","value":{"data":[{"type":"team_membership","target":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}}},{"type":"team_membership","target":{"id":"223e4567-e89b-12d3-a456-426614174001","type":"team","links":{"self":"https://api.productboard.com/v2/teams/223e4567-e89b-12d3-a456-426614174001"}}}],"links":{"next":null}}},"empty_memberships":{"summary":"Member belongs to no teams","value":{"data":[],"links":{"next":null}}}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API token authentication. Use your API token as the value of the Authorization header"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.","flows":{"authorizationCode":{"authorizationUrl":"https://app.productboard.com/oauth/authorize","tokenUrl":"https://app.productboard.com/oauth/token","scopes":{"entities:read":"Read access to entities (features, components, initiatives, etc.)","write:entities":"Write access to create and modify entities","entities:delete":"Delete entities"}}}}},"schemas":{"Member":{"type":"object","description":"Represents a member (user) in the workspace.\n","required":["id","type","fields","links"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the member","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","const":"member","description":"Resource type identifier","example":"member"},"fields":{"$ref":"#/components/schemas/MemberFields"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"MemberFields":{"type":"object","description":"Fields of a member resource.\n\nNote: When the `members_pii:read` scope is not present, the `name`, `username` and `email`\nfields will return `[obfuscated]` instead of actual values.\n","required":["name","username","email","role","disabled","invitationPending"],"properties":{"name":{"anyOf":[{"type":"string","description":"Display name of the member.","example":"John Doe"},{"$ref":"#/components/schemas/ObfuscatedValue"}]},"username":{"anyOf":[{"type":"string","description":"Username of the member.","example":"johndoe"},{"$ref":"#/components/schemas/ObfuscatedValue"}]},"email":{"anyOf":[{"$ref":"#/components/schemas/Email"},{"$ref":"#/components/schemas/ObfuscatedValue"}]},"role":{"type":"string","enum":["admin","maker","viewer","contributor"],"description":"Role of the member in the workspace.","example":"maker"},"disabled":{"type":"boolean","description":"Whether the member is disabled.","example":false},"invitationPending":{"type":"boolean","description":"Whether the member has a pending invitation that has not yet been accepted.","example":false}}},"MemberTeamRelationship":{"type":"object","description":"Represents a member's team membership relationship, connecting a member to a team they belong to.\n","required":["type","target"],"properties":{"type":{"type":"string","const":"team_membership","description":"Relationship type identifier","example":"team_membership"},"target":{"$ref":"#/components/schemas/MemberTeamTarget"}}},"MemberTeamTarget":{"type":"object","description":"Target reference for a member's team relationship.\n","required":["id","type","links"],"properties":{"id":{"type":"string","format":"uuid","description":"UUID of the team","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","const":"team","description":"Target entity type","example":"team"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"ObfuscatedValue":{"type":"string","enum":["[obfuscated]"],"description":"The value `[obfuscated]`. Used to hide personally identifiable information in cases the request doesn't have the required `members_pii:read` OAuth2 scope.\n","example":"[obfuscated]"},"Email":{"type":"string","maxLength":256,"description":"The email of a Productboard user that has access to your workspace.","example":"email@example.com"},"ResourceLinks":{"type":"object","required":["self"],"properties":{"self":{"type":"string"}}},"ListLinks":{"type":"object","required":["next"],"properties":{"next":{"type":["string","null"]}}},"ErrorSource":{"type":"object","description":"An object containing references to the source of the error. I helps with location of the problematic field or parameter.\n","properties":{"pointer":{"type":"string","description":"JSON Pointer [RFC6901] to the associated entity in the request document.\n","example":"/data/fields/status"},"parameter":{"type":"string","description":"Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n","example":"pageCursor"}}},"Error":{"type":"object","description":"Individual error object containing the details and context.\n","required":["code","title","detail"],"properties":{"code":{"type":"string","description":"A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: `category.subcategory.specificError`\n","examples":["access.denied","entity.not.found"]},"title":{"type":"string","description":"A short, human-readable summary of the problem that doesn't change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n","maxLength":255,"example":"Missing required field"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n","maxLength":1000,"example":"Field 'status' is required."},"source":{"$ref":"#/components/schemas/ErrorSource"}}},"ErrorResponse":{"type":"object","description":"Standard error response structure for all endpoints.\n","required":["id","errors"],"properties":{"id":{"type":"string","description":"A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"},"errors":{"type":"array","description":"Array of error objects, multiple errors can be returned.","items":{"$ref":"#/components/schemas/Error"},"minItems":1}}}},"responses":{"MemberListResponse":{"description":"A paginated list of members","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Member"}},"links":{"$ref":"#/components/schemas/ListLinks"}}},"examples":{"membersList":{"summary":"List of members","value":{"data":[{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","fields":{"name":"John Doe","username":"johndoe","email":"john.doe@example.com","role":"admin","disabled":false,"invitationPending":false},"links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}},{"id":"223e4567-e89b-12d3-a456-426614174001","type":"member","fields":{"name":"Jane Smith","username":"janesmith","email":"jane.smith@example.com","role":"maker","disabled":false,"invitationPending":false},"links":{"self":"https://api.productboard.com/v2/members/223e4567-e89b-12d3-a456-426614174001"}}],"links":{"next":"https://api.productboard.com/v2/members?pageCursor=next_cursor_value"}}},"membersListObfuscated":{"summary":"List of members (without members_pii:read scope)","value":{"data":[{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","fields":{"name":"[obfuscated]","username":"[obfuscated]","email":"[obfuscated]","role":"admin","disabled":false,"invitationPending":false},"links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}}],"links":{"next":null}}},"emptyList":{"summary":"Empty members list","value":{"data":[],"links":{"next":null}}}}}}},"MemberResponse":{"description":"Member details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Member"}}},"examples":{"member":{"summary":"Member response","value":{"data":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","fields":{"name":"John Doe","username":"johndoe","email":"john.doe@example.com","role":"maker","disabled":false,"invitationPending":false},"links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}}}},"memberObfuscated":{"summary":"Member response (without members_pii:read scope)","value":{"data":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","fields":{"name":"[obfuscated]","username":"[obfuscated]","email":"[obfuscated]","role":"maker","disabled":false,"invitationPending":false},"links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}}}}}}}},"BadRequestResponse":{"description":"Bad Request - Invalid input format or malformed request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"schemaInvalid":{"summary":"Request does not satisfy schema","value":{"id":"req-1234567890","errors":[{"code":"request.invalid","title":"Request schema invalid","detail":"The request does not satisfy the required schema. Field 'type' is required but was not provided.","source":{"pointer":"/data/type"}}]}},"fieldInvalid":{"summary":"Invalid field value type","value":{"id":"req-1234567891","errors":[{"code":"request.invalid","title":"Request schema invalid","detail":"Field 'fields/name' must be a string with maximum length of 255 characters, but received a number.","source":{"pointer":"/data/fields/name"}}]}},"malformedJson":{"summary":"Malformed JSON syntax","value":{"id":"req-1234567892","errors":[{"code":"request.malformed","title":"Request malformed","detail":"The request body contains invalid JSON syntax. Expected ',' or '}' at line 5, column 12."}]}},"invalidContentType":{"summary":"Invalid content type","value":{"id":"req-1234567893","errors":[{"code":"request.malformed","title":"Request malformed","detail":"The Content-Type header must be 'application/json'. Received 'text/plain'."}]}}}}}},"UnauthorizedResponse":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missingCredentials":{"summary":"Missing authentication credentials","value":{"id":"req-2234567890","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"Authentication credentials are missing. Please provide valid X-Space-Id and X-User-Id headers."}]}},"invalidToken":{"summary":"Invalid or expired token","value":{"id":"req-2234567891","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"The provided authentication credentials are invalid or have expired. Please obtain new credentials and try again."}]}},"revokedCredentials":{"summary":"Revoked credentials","value":{"id":"req-2234567892","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"The authentication credentials have been revoked. Please contact your workspace administrator."}]}}}}}},"ForbiddenResponse":{"description":"Forbidden - Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"permissionDenied":{"summary":"Permission denied for resource","value":{"id":"req-3234567890","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"You do not have permission to perform this operation on the specified resource. Contact your workspace administrator to request access."}]}},"insufficientScope":{"summary":"Insufficient OAuth scopes","value":{"id":"req-3234567891","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"Your authentication token lacks the required OAuth scopes to perform this operation. Required scopes: 'write:notes'. Please re-authenticate with the necessary scopes."}]}},"readOnlyRole":{"summary":"Read-only role restriction","value":{"id":"req-3234567892","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"Your user role does not permit modification of notes. This operation requires 'Product Manager' or 'Admin' role."}]}}}}}},"RequestTimeoutResponse":{"description":"Request Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"requestTimeout":{"summary":"Request timeout","value":{"id":"req-5234567890","errors":[{"code":"request.timeout","title":"Request timeout","detail":"The request took too long to process and was terminated. This may be due to server load or complex query parameters. Try simplifying your request or try again later."}]}}}}}},"TooManyRequestsResponse":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rateLimitExceeded":{"summary":"Rate limit exceeded","value":{"id":"req-7234567890","errors":[{"code":"rate.limitExceeded","title":"Rate limit exceeded","detail":"You have exceeded the allowed number of API requests. Please wait before making additional requests. Rate limit: 1000 requests per hour. Retry after: 2024-01-15T14:30:00Z."}]}},"rateLimitPerEndpoint":{"summary":"Rate limit for notes endpoint exceeded","value":{"id":"req-7234567891","errors":[{"code":"rate.limitExceeded","title":"Rate limit exceeded","detail":"You have exceeded the rate limit for this endpoint. Rate limit: 100 requests per minute for POST /v2/notes. Retry after: 2024-01-15T14:25:30Z."}]}}}}}},"InternalServerErrorResponse":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internalServerError":{"summary":"Unexpected server error","value":{"id":"req-8234567890","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"An unexpected error occurred while processing your request. Please try again later. If the problem persists, contact support with correlation ID 'req-8234567890'."}]}},"databaseError":{"summary":"Database connection error","value":{"id":"req-8234567891","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"A temporary database error occurred. The request could not be completed. Please try again in a few moments. If the issue continues, contact support with correlation ID 'req-8234567891'."}]}},"serviceUnavailable":{"summary":"Dependent service unavailable","value":{"id":"req-8234567892","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"A required service is temporarily unavailable. We are working to restore normal operation. Please retry your request. If you need immediate assistance, contact support with correlation ID 'req-8234567892'."}]}}}}}},"NotFoundResponse":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"resourceNotFoundById":{"summary":"Resource not found by ID","value":{"id":"req-4234567890","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The note with ID '550e8400-e29b-41d4-a716-446655440000' could not be found or you do not have permission to access it."}]}},"customerNotFoundInRequest":{"summary":"Customer reference not found","value":{"id":"req-4234567891","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The customer with ID '7c9e6679-7425-40de-944b-e07fc1f90ae7' referenced in the request could not be found or you do not have permission to access it.","source":{"pointer":"/data/fields/customer"}}]}},"linkNotFound":{"summary":"Link not found","value":{"id":"req-4234567892","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The link with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' for the relationship could not be found or you do not have permission to access it.","source":{"pointer":"/data/target/id"}}]}},"routeNotFound":{"summary":"API route not found","value":{"id":"req-4234567893","errors":[{"code":"route.notFound","title":"Route not found","detail":"The requested URL path '/v2/invalid-endpoint' does not match any defined API route. Please check the API documentation for valid endpoints."}]}}}}}}}},"x-readme":{"samples-languages":["shell","javascript","ruby"]}}