{"openapi":"3.1.1","info":{"title":"Teams","description":"TBD","version":"2.0.0","contact":{"name":"Productboard Support","url":"https://support.productboard.com","email":"support@productboard.com"},"license":{"name":"Productboard Proprietary","url":"https://www.productboard.com/"}},"servers":[{"url":"https://api.productboard.com/v2","description":"Production server"}],"security":[{"BearerAuth":[]},{"OAuth2":["entities:read","write:entities","entities:delete"]}],"paths":{"/teams":{"get":{"tags":["teams"],"summary":"List teams","description":"Retrieves a paginated list of teams from your workspace.\nTeams represent groups of members that can be used for organizing work and assigning ownership.\n\n- Teams are sorted by creation date, newest first.\n- Use the `name` parameter to filter by exact name match.\n- Use the `query` parameter to search by partial name (case-insensitive). For example, `query=product` will match \"Product Team\", \"My Product\", \"production\", etc.\n- Use the `pageCursor` parameter to paginate through results.\n","operationId":"listTeams","security":[{"BearerAuth":["teams:read"]}],"parameters":[{"name":"pageCursor","in":"query","description":"Cursor for pagination.","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Filter teams by exact name match.\n","required":false,"schema":{"type":"string","minLength":1,"maxLength":255},"example":"Product Team"},{"name":"query","in":"query","description":"Full-text search query. Performs case-insensitive partial match on team name.\n","required":false,"schema":{"type":"string","minLength":1,"maxLength":255},"example":"Product"}],"responses":{"200":{"$ref":"#/components/responses/TeamListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"post":{"tags":["teams"],"summary":"Create team","description":"Creates a new team in your workspace.\nYou must provide the team `name` and a unique `handle` for @mentions.\n\n## Required Fields\n\n- `name`: The name of the team (1-255 characters, must be unique per workspace)\n- `handle`: Unique handle for @mentions (lowercase alphanumeric only, 1-255 characters, must be unique per workspace)\n\n## Response\n\nReturns a reference to the created team with its ID and self link.\nUse the GET endpoint to retrieve the full team details.\n","operationId":"createTeam","security":[{"BearerAuth":["teams:write"]}],"requestBody":{"$ref":"#/components/requestBodies/TeamCreateRequestBody"},"responses":{"201":{"$ref":"#/components/responses/TeamReferenceResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"409":{"$ref":"#/components/responses/ConflictResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/teams/{id}":{"get":{"tags":["teams"],"summary":"Get team","description":"Retrieves the full details of a specific team by its unique identifier (UUID).\nReturns the team's name, handle, description, avatar URL, and metadata such as creation and update timestamps.\n\nUse this endpoint to load complete data for a single team.\n","operationId":"getTeamById","security":[{"BearerAuth":["teams:read"]}],"parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}}],"responses":{"200":{"$ref":"#/components/responses/TeamResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"patch":{"tags":["teams"],"summary":"Update team","description":"Updates the fields of an existing team.\nOnly the fields included in the request body will be updated. Fields not provided will remain unchanged.\n\n## Updatable Fields\n\n- `name`: The name of the team (1-255 characters)\n- `handle`: Unique handle for @mentions (lowercase alphanumeric only)\n- `description`: Optional description of the team (max 10,000 characters)\n\n## Response\n\nReturns a reference to the updated team.\nUse the GET endpoint to retrieve the full updated team details.\n","operationId":"updateTeamById","security":[{"BearerAuth":["teams:write"]}],"parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}}],"requestBody":{"$ref":"#/components/requestBodies/TeamUpdateRequestBody"},"responses":{"200":{"$ref":"#/components/responses/TeamReferenceResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"409":{"$ref":"#/components/responses/ConflictResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"delete":{"tags":["teams"],"summary":"Delete team","description":"Permanently deletes a team from your workspace.\nThis operation removes the team and all its membership associations.\n\n**Use this endpoint with caution — deletion is irreversible.**\n","operationId":"deleteTeamById","security":[{"BearerAuth":["teams:delete"]}],"parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}}],"responses":{"204":{"$ref":"#/components/responses/NoContentResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/teams/{id}/relationships":{"get":{"tags":["teams"],"summary":"List team members","operationId":"getTeamRelationships","security":[{"BearerAuth":["teams:read"]}],"description":"Retrieves all members of a specific team.\nReturns a paginated list of team membership relationships representing the team's members.\n\nUse the `pageCursor` parameter to paginate through results when the team has many members.\n","parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}},{"name":"pageCursor","in":"query","description":"Cursor for pagination through team members","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of team member relationships","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberRelationship"}},"links":{"type":"object","properties":{"next":{"type":["string","null"],"description":"URL to the next page of team members. Null when all members are returned.\n"}}}}},"examples":{"team_members":{"summary":"Team members list","value":{"data":[{"type":"team_membership","target":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}}},{"type":"team_membership","target":{"id":"223e4567-e89b-12d3-a456-426614174001","type":"member","links":{"self":"https://api.productboard.com/v2/members/223e4567-e89b-12d3-a456-426614174001"}}}],"links":{"next":null}}}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"post":{"tags":["teams"],"summary":"Add team member","operationId":"createTeamRelationship","security":[{"BearerAuth":["teams:write"]}],"description":"Adds a member to a team.\nThe target member must be an existing member of the current workspace.\n\n## Constraints\n\n- A member can only be added to a team once (duplicate memberships return a `409 Conflict` error).\n- Only **admin** and **maker** roles can add members to teams.\n","parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}}],"requestBody":{"$ref":"#/components/requestBodies/TeamMemberCreateRequestBody"},"responses":{"201":{"description":"Team member added successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TeamMemberRelationship"}}},"examples":{"member_added":{"summary":"Member added to team","value":{"data":{"type":"team_membership","target":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member","links":{"self":"https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"}}}}}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"409":{"$ref":"#/components/responses/ConflictResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/teams/{id}/relationships/member/{targetId}":{"delete":{"tags":["teams"],"summary":"Delete team member","operationId":"deleteTeamRelationship","security":[{"BearerAuth":["teams:write"]}],"description":"Removes a member from a team.\nThis only removes the team membership association — it does not delete the member from the workspace.\n\n## Constraints\n\n- If the member is not a member of the team, a `404` error is returned.\n- Only **admin** and **maker** roles can remove members from teams.\n","parameters":[{"name":"id","in":"path","required":true,"description":"UUID of the team","schema":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"}},{"name":"targetId","in":"path","required":true,"description":"UUID of the member (space membership) to remove from the team","schema":{"type":"string","format":"uuid","example":"223e4567-e89b-12d3-a456-426614174001"}}],"responses":{"204":{"$ref":"#/components/responses/NoContentResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API token authentication. Use your API token as the value of the Authorization header"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.","flows":{"authorizationCode":{"authorizationUrl":"https://app.productboard.com/oauth/authorize","tokenUrl":"https://app.productboard.com/oauth/token","scopes":{"entities:read":"Read access to entities (features, components, initiatives, etc.)","write:entities":"Write access to create and modify entities","entities:delete":"Delete entities"}}}}},"schemas":{"TeamReference":{"type":"object","description":"Minimal reference to a team resource containing only identifying information.\n","required":["id","type","links"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the team","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","const":"team","description":"Resource type identifier","example":"team"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"TeamReferenceResponse":{"type":"object","description":"Response wrapper containing a team reference.\n","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/TeamReference"}}},"Team":{"description":"Full team resource with all fields and metadata.\n","allOf":[{"$ref":"#/components/schemas/TeamReference"},{"type":"object","required":["fields","createdAt","updatedAt"],"properties":{"fields":{"$ref":"#/components/schemas/TeamFields"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the team was created","example":"2025-01-01T10:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the team was last updated","example":"2025-01-15T14:30:00Z"}}}]},"TeamFields":{"type":"object","description":"Fields of a team resource.\n","required":["name","handle"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"The name of the team.\n","example":"Product Team"},"handle":{"type":"string","description":"Unique handle for @mentions. Lowercase alphanumeric only.\n","example":"productteam"},"description":{"type":"string","description":"Optional description of the team.\n","example":"Team responsible for product development"},"avatarUrl":{"type":["string","null"],"format":"uri","readOnly":true,"description":"URL of the team's avatar image. Read-only.\nReturns `null` if no avatar is set.\n","example":"https://cdn.productboard.com/teams/avatars/123/medium.png"}}},"TeamCreateOrUpdateFields":{"type":"object","description":"Fields for creating or updating a team.\nFor creation, `name` and `handle` are required.\nFor updates, the `fields` object is required but all individual field properties within it are optional.\n\n**Note:** `avatarUrl` is read-only and cannot be set via API. Avatar management is only available through the UI.\n","properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"The name of the team.\n\n# Validation\n- Required for creation\n- Must be between 1 and 255 characters\n- Must be unique per workspace\n\n# Filtering\nSupports exact match via `name` parameter and partial match via `query` parameter on GET /v2/teams.\n","example":"Product Team"},"handle":{"type":"string","minLength":1,"maxLength":255,"pattern":"^[a-z0-9]+$","description":"Unique handle for @mentions.\n\n# Validation\n- Required for creation\n- Lowercase letters and numbers only (no uppercase, spaces, or special characters)\n- Must be unique per workspace\n","example":"productteam"},"description":{"type":"string","maxLength":10000,"description":"Optional description of the team.\n\n# Validation\n- Optional field\n- Maximum length: 10000 characters\n","example":"Team responsible for product development"}}},"TeamMemberRelationship":{"type":"object","description":"Represents a team membership relationship connecting a team to a member.\n","required":["type","target"],"properties":{"type":{"type":"string","const":"team_membership","description":"Relationship type identifier","example":"team_membership"},"target":{"$ref":"#/components/schemas/TeamMemberTarget"}}},"TeamMemberTarget":{"type":"object","description":"Target reference for a team member relationship.\n","required":["id","type","links"],"properties":{"id":{"type":"string","format":"uuid","description":"UUID of the member (space membership)","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","const":"member","description":"Target entity type","example":"member"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"TeamMemberCreatePayload":{"type":"object","description":"Payload for adding a member to a team.\n","required":["type","target"],"properties":{"type":{"type":"string","const":"team_membership","description":"Relationship type (must be \"team_membership\")","example":"team_membership"},"target":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","format":"uuid","description":"UUID of the member (space membership) to add to the team","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","const":"member","description":"Target entity type (must be \"member\")","example":"member"}}}}},"ResourceLinks":{"type":"object","required":["self"],"properties":{"self":{"type":"string"}}},"ListLinks":{"type":"object","required":["next"],"properties":{"next":{"type":["string","null"]}}},"ErrorSource":{"type":"object","description":"An object containing references to the source of the error. I helps with location of the problematic field or parameter.\n","properties":{"pointer":{"type":"string","description":"JSON Pointer [RFC6901] to the associated entity in the request document.\n","example":"/data/fields/status"},"parameter":{"type":"string","description":"Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n","example":"pageCursor"}}},"Error":{"type":"object","description":"Individual error object containing the details and context.\n","required":["code","title","detail"],"properties":{"code":{"type":"string","description":"A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: `category.subcategory.specificError`\n","examples":["access.denied","entity.not.found"]},"title":{"type":"string","description":"A short, human-readable summary of the problem that doesn't change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n","maxLength":255,"example":"Missing required field"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n","maxLength":1000,"example":"Field 'status' is required."},"source":{"$ref":"#/components/schemas/ErrorSource"}}},"ErrorResponse":{"type":"object","description":"Standard error response structure for all endpoints.\n","required":["id","errors"],"properties":{"id":{"type":"string","description":"A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"},"errors":{"type":"array","description":"Array of error objects, multiple errors can be returned.","items":{"$ref":"#/components/schemas/Error"},"minItems":1}}}},"requestBodies":{"TeamCreateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["fields"],"properties":{"fields":{"$ref":"#/components/schemas/TeamCreateOrUpdateFields"}}}}},"examples":{"createTeam":{"summary":"Create a new team","value":{"data":{"fields":{"name":"Product Team","handle":"productteam","description":"Team responsible for product development"}}}},"createTeamMinimal":{"summary":"Create a team with only required fields","value":{"data":{"fields":{"name":"Engineering Team","handle":"engineering"}}}}}}}},"TeamUpdateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["fields"],"properties":{"fields":{"$ref":"#/components/schemas/TeamCreateOrUpdateFields"}}}}},"examples":{"updateName":{"summary":"Update team name","value":{"data":{"fields":{"name":"Updated Product Team"}}}},"updateHandle":{"summary":"Update team handle","value":{"data":{"fields":{"handle":"newhandle"}}}},"updateDescription":{"summary":"Update team description","value":{"data":{"fields":{"description":"Updated team description"}}}}}}}},"TeamMemberCreateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/TeamMemberCreatePayload"}}},"examples":{"addMember":{"summary":"Add a user as team member","value":{"data":{"type":"team_membership","target":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"member"}}}}}}}}},"responses":{"TeamListResponse":{"description":"A paginated list of teams","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Team"}},"links":{"$ref":"#/components/schemas/ListLinks"}}},"examples":{"teamsList":{"summary":"List of teams","value":{"data":[{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","fields":{"name":"Product Team","handle":"productteam","description":"Team responsible for product development","avatarUrl":"https://cdn.productboard.com/teams/avatars/123/medium.png"},"createdAt":"2025-01-01T10:00:00Z","updatedAt":"2025-01-15T14:30:00Z","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}},{"id":"223e4567-e89b-12d3-a456-426614174001","type":"team","fields":{"name":"Engineering Team","handle":"engineering","description":"","avatarUrl":null},"createdAt":"2025-01-02T11:00:00Z","updatedAt":"2025-01-16T15:30:00Z","links":{"self":"https://api.productboard.com/v2/teams/223e4567-e89b-12d3-a456-426614174001"}}],"links":{"next":"https://api.productboard.com/v2/teams?pageCursor=next_cursor_value"}}},"filteredByName":{"summary":"Teams filtered by exact name","description":"Example: GET /v2/teams?name=Product Team","value":{"data":[{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","fields":{"name":"Product Team","handle":"productteam","description":"Team responsible for product development","avatarUrl":"https://cdn.productboard.com/teams/avatars/123/medium.png"},"createdAt":"2025-01-01T10:00:00Z","updatedAt":"2025-01-15T14:30:00Z","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}}],"links":{"next":null}}},"searchByQuery":{"summary":"Teams searched by query","description":"Example: GET /v2/teams?query=Product","value":{"data":[{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","fields":{"name":"Product Team","handle":"productteam","description":"Team responsible for product development","avatarUrl":"https://cdn.productboard.com/teams/avatars/123/medium.png"},"createdAt":"2025-01-01T10:00:00Z","updatedAt":"2025-01-15T14:30:00Z","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}},{"id":"323e4567-e89b-12d3-a456-426614174002","type":"team","fields":{"name":"Product Marketing","handle":"productmarketing","description":"Marketing team for product launches","avatarUrl":null},"createdAt":"2025-01-03T09:00:00Z","updatedAt":"2025-01-17T12:00:00Z","links":{"self":"https://api.productboard.com/v2/teams/323e4567-e89b-12d3-a456-426614174002"}}],"links":{"next":null}}},"emptyList":{"summary":"Empty teams list","value":{"data":[],"links":{"next":null}}}}}}},"TeamResponse":{"description":"Team details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Team"}}},"examples":{"team":{"summary":"Team response","value":{"data":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","fields":{"name":"Product Team","handle":"productteam","description":"Team responsible for product development","avatarUrl":"https://cdn.productboard.com/teams/avatars/123/medium.png"},"createdAt":"2025-01-01T10:00:00Z","updatedAt":"2025-01-15T14:30:00Z","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}}}}}}}},"TeamReferenceResponse":{"description":"Team reference with ID and self link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamReferenceResponse"},"examples":{"reference":{"summary":"Team reference","value":{"data":{"id":"123e4567-e89b-12d3-a456-426614174000","type":"team","links":{"self":"https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"}}}}}}}},"BadRequestResponse":{"description":"Bad Request - Invalid input format or malformed request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"schemaInvalid":{"summary":"Request does not satisfy schema","value":{"id":"req-1234567890","errors":[{"code":"request.invalid","title":"Request schema invalid","detail":"The request does not satisfy the required schema. Field 'type' is required but was not provided.","source":{"pointer":"/data/type"}}]}},"fieldInvalid":{"summary":"Invalid field value type","value":{"id":"req-1234567891","errors":[{"code":"request.invalid","title":"Request schema invalid","detail":"Field 'fields/name' must be a string with maximum length of 255 characters, but received a number.","source":{"pointer":"/data/fields/name"}}]}},"malformedJson":{"summary":"Malformed JSON syntax","value":{"id":"req-1234567892","errors":[{"code":"request.malformed","title":"Request malformed","detail":"The request body contains invalid JSON syntax. Expected ',' or '}' at line 5, column 12."}]}},"invalidContentType":{"summary":"Invalid content type","value":{"id":"req-1234567893","errors":[{"code":"request.malformed","title":"Request malformed","detail":"The Content-Type header must be 'application/json'. Received 'text/plain'."}]}}}}}},"UnauthorizedResponse":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missingCredentials":{"summary":"Missing authentication credentials","value":{"id":"req-2234567890","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"Authentication credentials are missing. Please provide valid X-Space-Id and X-User-Id headers."}]}},"invalidToken":{"summary":"Invalid or expired token","value":{"id":"req-2234567891","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"The provided authentication credentials are invalid or have expired. Please obtain new credentials and try again."}]}},"revokedCredentials":{"summary":"Revoked credentials","value":{"id":"req-2234567892","errors":[{"code":"auth.invalid","title":"Invalid authentication","detail":"The authentication credentials have been revoked. Please contact your workspace administrator."}]}}}}}},"ForbiddenResponse":{"description":"Forbidden - Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"permissionDenied":{"summary":"Permission denied for resource","value":{"id":"req-3234567890","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"You do not have permission to perform this operation on the specified resource. Contact your workspace administrator to request access."}]}},"insufficientScope":{"summary":"Insufficient OAuth scopes","value":{"id":"req-3234567891","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"Your authentication token lacks the required OAuth scopes to perform this operation. Required scopes: 'write:notes'. Please re-authenticate with the necessary scopes."}]}},"readOnlyRole":{"summary":"Read-only role restriction","value":{"id":"req-3234567892","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"Your user role does not permit modification of notes. This operation requires 'Product Manager' or 'Admin' role."}]}}}}}},"RequestTimeoutResponse":{"description":"Request Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"requestTimeout":{"summary":"Request timeout","value":{"id":"req-5234567890","errors":[{"code":"request.timeout","title":"Request timeout","detail":"The request took too long to process and was terminated. This may be due to server load or complex query parameters. Try simplifying your request or try again later."}]}}}}}},"TooManyRequestsResponse":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rateLimitExceeded":{"summary":"Rate limit exceeded","value":{"id":"req-7234567890","errors":[{"code":"rate.limitExceeded","title":"Rate limit exceeded","detail":"You have exceeded the allowed number of API requests. Please wait before making additional requests. Rate limit: 1000 requests per hour. Retry after: 2024-01-15T14:30:00Z."}]}},"rateLimitPerEndpoint":{"summary":"Rate limit for notes endpoint exceeded","value":{"id":"req-7234567891","errors":[{"code":"rate.limitExceeded","title":"Rate limit exceeded","detail":"You have exceeded the rate limit for this endpoint. Rate limit: 100 requests per minute for POST /v2/notes. Retry after: 2024-01-15T14:25:30Z."}]}}}}}},"InternalServerErrorResponse":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internalServerError":{"summary":"Unexpected server error","value":{"id":"req-8234567890","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"An unexpected error occurred while processing your request. Please try again later. If the problem persists, contact support with correlation ID 'req-8234567890'."}]}},"databaseError":{"summary":"Database connection error","value":{"id":"req-8234567891","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"A temporary database error occurred. The request could not be completed. Please try again in a few moments. If the issue continues, contact support with correlation ID 'req-8234567891'."}]}},"serviceUnavailable":{"summary":"Dependent service unavailable","value":{"id":"req-8234567892","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"A required service is temporarily unavailable. We are working to restore normal operation. Please retry your request. If you need immediate assistance, contact support with correlation ID 'req-8234567892'."}]}}}}}},"ConflictResponse":{"description":"Conflict - Action cannot be performed due to current state or constraint violation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"uniqueConstraintViolation":{"summary":"Unique constraint violation","value":{"id":"req-9234567890","errors":[{"code":"conflict.uniqueViolation","title":"Unique constraint violation","detail":"A team with the name 'Product Team' already exists in this workspace.","source":{"pointer":"/data/fields/name"}}]}},"handleAlreadyExists":{"summary":"Handle already exists","value":{"id":"req-9234567891","errors":[{"code":"conflict.uniqueViolation","title":"Unique constraint violation","detail":"A team with the handle 'productteam' already exists in this workspace.","source":{"pointer":"/data/fields/handle"}}]}}}}}},"UnprocessableEntityResponse":{"description":"Validation failed (e.g., missing required fields, unknown fields)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"validationFailed":{"summary":"Validation failed","value":{"id":"req-6234567890","errors":[{"code":"validation.failed","title":"Validation failed","detail":"The note type 'invalid-type' is not supported. Supported types: simple, conversation, opportunity.","source":{"pointer":"/data/type"}}]}},"validationMultipleFields":{"summary":"Multiple validation errors","value":{"id":"req-6234567891","errors":[{"code":"validation.failed","title":"Validation failed","detail":"The field 'name' cannot be empty when creating a note.","source":{"pointer":"/data/fields/name"}},{"code":"validation.failed","title":"Validation failed","detail":"The field 'customer' must reference either a 'user' or 'company' type entity.","source":{"pointer":"/data/fields/customer"}}]}},"customerReferenceNotFound":{"summary":"Customer reference not found","value":{"id":"req-6234567892","errors":[{"code":"validation.referenceNotFound","title":"Referenced resource not found","detail":"The customer with ID 'nonexistent-uuid' could not be found or you do not have access to it.","source":{"pointer":"/data/fields/customer"}}]}},"linkReferenceNotFound":{"summary":"Link reference not found","value":{"id":"req-6234567893","errors":[{"code":"validation.referenceNotFound","title":"Referenced resource not found","detail":"The link (feature) with ID '550e8400-e29b-41d4-a716-446655440000' does not exist or is not accessible in this space.","source":{"pointer":"/data/relationships/0/target/id"}}]}},"contentUpdateForbidden":{"summary":"Content update forbidden for notes with linked features","value":{"id":"req-6234567894","errors":[{"code":"validation.forbidden","title":"Update not allowed","detail":"Cannot update content for notes with linked features","source":{"pointer":"/data/fields/content"}}]}}}}}},"NotFoundResponse":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"resourceNotFoundById":{"summary":"Resource not found by ID","value":{"id":"req-4234567890","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The note with ID '550e8400-e29b-41d4-a716-446655440000' could not be found or you do not have permission to access it."}]}},"customerNotFoundInRequest":{"summary":"Customer reference not found","value":{"id":"req-4234567891","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The customer with ID '7c9e6679-7425-40de-944b-e07fc1f90ae7' referenced in the request could not be found or you do not have permission to access it.","source":{"pointer":"/data/fields/customer"}}]}},"linkNotFound":{"summary":"Link not found","value":{"id":"req-4234567892","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"The link with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' for the relationship could not be found or you do not have permission to access it.","source":{"pointer":"/data/target/id"}}]}},"routeNotFound":{"summary":"API route not found","value":{"id":"req-4234567893","errors":[{"code":"route.notFound","title":"Route not found","detail":"The requested URL path '/v2/invalid-endpoint' does not match any defined API route. Please check the API documentation for valid endpoints."}]}}}}}},"NoContentResponse":{"description":"The request was successful and no content is returned."}}},"x-readme":{"samples-languages":["shell","javascript","ruby"]}}