{"openapi":"3.1.1","info":{"title":"Webhooks","description":"Manages webhook subscriptions. Subscribe to entity change events and receive\nreal-time notifications at your endpoint.\n","version":"2.0.0","contact":{"name":"Productboard Support","url":"https://support.productboard.com","email":"support@productboard.com"},"license":{"name":"Proprietary","url":"https://www.productboard.com/terms"}},"servers":[{"url":"https://api.productboard.com/v2","description":"Production server"}],"security":[{"BearerAuth":[]},{"OAuth2":["entities:read","write:entities","entities:delete"]}],"tags":[{"name":"webhooks","description":"Operations for managing webhook subscriptions."}],"paths":{"/webhooks":{"post":{"summary":"Create webhook subscription","description":"Creates a new webhook subscription to be actively notified on each change in the specified entities.\n\nAs part of subscription creation, Productboard sends a **probe request** (GET) to your endpoint\nto verify it is reachable and intends to receive notifications. See the `callback` section below.\n\n**Scope requirements**: the OAuth2 application must have the scopes required by all requested event types.\n","operationId":"createWebhook","tags":["webhooks"],"requestBody":{"description":"Definition of webhook subscription.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreateRequestBody"},"examples":{"default":{"summary":"Subscribe to webhook events","value":{"data":{"fields":{"name":"Feature changes webhook","events":[{"eventType":"feature.updated"},{"eventType":"feature.created"}],"notification":{"url":"https://example.destination.com/webhooks-handler","version":1,"headers":{"authorization":"Bearer mySecret"}}}}}}}}}},"responses":{"201":{"description":"Webhook subscription created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookReferenceResponse"},"examples":{"created":{"summary":"Subscription created","value":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","type":"webhook","links":{"self":"https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}},"callbacks":{"entityChange":{"{$request.body#/data/fields/notification/url}":{"get":{"summary":"Subscription probe","tags":["webhooks"],"security":[{"CallbackAuthorization":[]}],"description":"Sent during subscription creation to verify your endpoint is reachable and intends to\nreceive notifications.\n\n- Response must be `200 OK` with `Content-Type: text/plain`\n- Response body must echo the `validationToken` query parameter exactly\n- Timeout: **5 seconds**\n- Any other response or timeout immediately fails the subscription request\n\nThis request is sent with `Accept: text/plain` header.\n\n**Security**: configure `data.fields.notification.headers.authorization` when creating the\nsubscription to have Productboard include it in every outgoing request to your endpoint.\n","operationId":"subscriptionProbe","parameters":[{"in":"query","name":"validationToken","required":true,"schema":{"type":"string","example":"a-unique-token-for-this-request"},"description":"Token to echo in the response body."}],"responses":{"200":{"description":"Echo the `validationToken` value as plain text.","content":{"text/plain":{"schema":{"type":"string","example":"a-unique-token-for-this-request"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"post":{"summary":"Webhook notification","tags":["webhooks"],"security":[{"CallbackAuthorization":[]}],"description":"Sent whenever a subscribed entity change event occurs.\n\n- Timeout: **5 seconds** (end-to-end)\n- Return any `2XX` status to acknowledge receipt\n- Prefer `204 No Content` — response body is ignored\n- Failed deliveries are retried with exponential backoff (up to 8 attempts: 1m, 3m, 9m, ...)\n- Process notifications asynchronously and return immediately to avoid timeouts\n- Too many timeouts or failures may result in Productboard **disabling the subscription** with notification loss\n\n**Security**: configure `data.fields.notification.headers.authorization` to authenticate\nincoming requests from Productboard.\n","operationId":"webhookNotification","requestBody":{"description":"Webhook notification payload.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookNotificationRequestBody"}}}},"responses":{"200":{"description":"Any `2XX` status is treated as a successful delivery. `204 No Content` is preferred.\n"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}}}}},"get":{"summary":"List webhook subscriptions","description":"Returns all webhook subscriptions for the workspace. Returns up to 100 items per page by default.\n\nPaginated using cursor-based pagination. Follow `links.next` in the response to fetch the next page.\nWhen `links.next` is `null`, you have reached the last page.\n\n**OAuth2 isolation**: OAuth2 access tokens only see subscriptions created by the same OAuth2 application.\nPublic API access tokens see all workspace subscriptions.\n","operationId":"listWebhooks","tags":["webhooks"],"parameters":[{"$ref":"#/components/parameters/PageCursor"}],"responses":{"200":{"description":"A paginated list of webhook subscriptions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookListResponse"},"example":{"data":[{"id":"550e8400-e29b-41d4-a716-446655440000","type":"webhook","createdAt":"2024-01-15T10:30:00.000Z","fields":{"name":"Feature changes webhook","events":[{"eventType":"feature.updated"}],"notification":{"url":"https://example.destination.com/webhooks-handler","version":1}},"links":{"self":"https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"}}],"links":{"next":null}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/webhooks/{webhookId}":{"get":{"summary":"Get webhook subscription","description":"Returns a single webhook subscription by ID.\n\n**OAuth2 isolation**: returns `404` if the subscription was created by a different OAuth2 application\nor by a public API access token (existence is masked for security).\n","operationId":"getWebhook","tags":["webhooks"],"parameters":[{"$ref":"#/components/parameters/WebhookId"}],"responses":{"200":{"description":"Webhook subscription details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResponse"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"delete":{"summary":"Delete webhook subscription","description":"Permanently deletes a webhook subscription. No further notifications will be sent after deletion. **OAuth2 isolation**: returns `404` if the subscription was created by a different OAuth2 application\nor by a public API access token.\n","operationId":"deleteWebhook","tags":["webhooks"],"parameters":[{"$ref":"#/components/parameters/WebhookId"}],"responses":{"204":{"description":"Subscription deleted successfully."},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}}},"components":{"parameters":{"WebhookId":{"name":"webhookId","in":"path","required":true,"description":"UUID of the webhook subscription.","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"}},"PageCursor":{"name":"pageCursor","in":"query","required":false,"description":"Opaque cursor for fetching the next page of results. Use the value from `links.next` in the\nprevious response. Do not construct this value manually.\n","schema":{"type":"string"}}},"schemas":{"WebhookType":{"type":"string","description":"Resource type identifier for webhook subscriptions.","enum":["webhook"],"example":"webhook"},"WebhookReference":{"type":"object","description":"Lightweight reference returned after creating a webhook subscription.","required":["id","type","links"],"properties":{"id":{"type":"string","format":"uuid","readOnly":true,"description":"Unique identifier of the created webhook subscription.","example":"550e8400-e29b-41d4-a716-446655440000"},"type":{"$ref":"#/components/schemas/WebhookType"},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","format":"uri","description":"URL to fetch the full webhook subscription.","example":"https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"}}}}},"WebhookReferenceResponse":{"type":"object","description":"Response envelope for a newly created webhook subscription.","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/WebhookReference"}}},"WebhookSubscription":{"type":"object","description":"A webhook subscription resource.","required":["id","type","createdAt","fields","links"],"properties":{"id":{"type":"string","format":"uuid","readOnly":true,"description":"Unique identifier for this webhook subscription.","example":"550e8400-e29b-41d4-a716-446655440000"},"type":{"$ref":"#/components/schemas/WebhookType"},"createdAt":{"type":"string","format":"date-time","readOnly":true,"description":"ISO 8601 timestamp when the subscription was created.","example":"2024-01-15T10:30:00.000Z"},"fields":{"$ref":"#/components/schemas/WebhookSubscriptionResponseFields"},"links":{"$ref":"#/components/schemas/WebhookSubscriptionLinks"}}},"WebhookResponse":{"type":"object","description":"Response envelope for a single webhook subscription.","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/WebhookSubscription"}}},"WebhookListResponse":{"type":"object","description":"Response envelope for a paginated list of webhook subscriptions.","required":["data","links"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookSubscription"}},"links":{"$ref":"#/components/schemas/ListLinks"}}},"WebhookSubscriptionFields":{"type":"object","description":"Domain attributes for creating a webhook subscription.","required":["name","events","notification"],"properties":{"name":{"type":"string","description":"Human-readable label for this subscription.","minLength":1,"maxLength":255,"example":"Feature changes webhook"},"events":{"type":"array","description":"Event types to subscribe to. At least one required; no duplicates allowed.\nThe full list of supported values is defined in the `WebhookEventType` schema.\n","minItems":1,"uniqueItems":true,"items":{"$ref":"#/components/schemas/WebhookEvent"}},"notification":{"$ref":"#/components/schemas/WebhookNotificationConfig"}}},"WebhookSubscriptionResponseFields":{"type":"object","description":"Domain attributes returned in webhook subscription responses.\nNote: `notification.headers.authorization` is intentionally absent from responses to protect secrets.\n","required":["name","events","notification"],"properties":{"name":{"type":"string","description":"Human-readable label for this subscription.","minLength":1,"maxLength":255,"example":"Feature changes webhook"},"events":{"type":"array","description":"Event types that trigger this subscription.","minItems":1,"uniqueItems":true,"items":{"$ref":"#/components/schemas/WebhookEvent"}},"notification":{"$ref":"#/components/schemas/WebhookNotificationConfigResponse"}}},"WebhookCreateRequestBody":{"type":"object","description":"Request body for creating a webhook subscription.","required":["data"],"properties":{"data":{"type":"object","required":["fields"],"properties":{"fields":{"$ref":"#/components/schemas/WebhookSubscriptionFields"}}}}},"WebhookSubscriptionLinks":{"type":"object","description":"Links for this webhook subscription resource.","required":["self"],"properties":{"self":{"type":"string","format":"uri","description":"URL to retrieve this webhook subscription.","example":"https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"}}},"WebhookEvent":{"type":"object","required":["eventType"],"properties":{"eventType":{"$ref":"#/components/schemas/WebhookEventType"}}},"WebhookEventType":{"type":"string","description":"Identifies the type of entity change that triggers a webhook notification.","enum":["feature.created","feature.updated","feature.deleted","component.created","component.updated","product.created","product.updated","release.created","release.updated","release.deleted","feature-release-assignment.updated","hierarchy-entity.custom-field-value.updated","note.created","note.updated","note.deleted","insight.created","insight.deleted","key-result.created","key-result.updated","key-result.deleted","objective.created","objective.updated","objective.deleted","initiative.created","initiative.updated","initiative.deleted"]},"WebhookNotificationConfig":{"type":"object","description":"Where and how Productboard sends notifications (used in create requests).","required":["url","version"],"properties":{"url":{"type":"string","format":"uri","pattern":"https://.+","description":"HTTPS endpoint to receive notifications. Requirements:\n- Must use `https` (encrypted)\n- Certificate must be valid and signed by a public authority\n- Must be publicly reachable (no `localhost`, private IPs, or internal Kubernetes addresses)\n","example":"https://example.destination.com/webhooks-handler","maxLength":1024},"version":{"$ref":"#/components/schemas/WebhookPayloadVersion"},"headers":{"$ref":"#/components/schemas/WebhookNotificationHeaders"}}},"WebhookNotificationConfigResponse":{"type":"object","description":"Notification configuration as returned in responses (secret omitted).","required":["url","version"],"properties":{"url":{"type":"string","format":"uri","maxLength":1024,"description":"Target URL for webhook notifications.","example":"https://example.destination.com/webhooks-handler"},"version":{"$ref":"#/components/schemas/WebhookPayloadVersion"}}},"WebhookPayloadVersion":{"type":"integer","description":"Version of the notification payload structure. Currently only `1` is supported.","enum":[1],"example":1},"WebhookNotificationHeaders":{"type":"object","description":"Custom headers included in every outgoing request from Productboard to your endpoint\n(both the subscription probe and notifications). Use this to authenticate incoming requests.\n","properties":{"authorization":{"type":"string","description":"Raw value sent in the `Authorization` header. Supports any scheme:\n- `Basic aGVsbG86d29ybGQ=`\n- `Bearer <token>`\n- Any custom value\n","example":"Bearer myWebhookSecret","maxLength":2048}}},"ListLinks":{"type":"object","description":"Cursor-based pagination links.","required":["next"],"properties":{"next":{"type":["string","null"],"format":"uri","description":"Link to the next page, or `null` if this is the last page.","example":"https://api.productboard.com/v2/webhooks?pageCursor=eyJvZmZzZXQiOjEwMH0"}}},"WebhookNotificationPayload":{"$ref":"#/components/schemas/WebhookNotificationPayloadV1"},"WebhookNotificationPayloadV1":{"type":"object","description":"Notification payload delivered to the subscriber endpoint.","required":["eventType","links"],"properties":{"id":{"type":"string","format":"uuid","description":"Entity ID that changed. Absent for `hierarchy-entity.custom-field-value.updated`\nand `feature-release-assignment.updated`.\n","example":"550e8400-e29b-41d4-a716-446655440000"},"eventType":{"$ref":"#/components/schemas/WebhookEventType"},"links":{"description":"Links related to this event.","oneOf":[{"$ref":"#/components/schemas/LinksTarget"},{"$ref":"#/components/schemas/LinksFeatureNote"}]},"updatedAttributes":{"type":"array","description":"Names of the API fields that changed. Only present on `*.updated` events.\nUses public API field names (e.g., `status`, `name`, `parent`).\n","items":{"type":"string","example":"status"}}}},"WebhookNotificationRequestBody":{"type":"object","description":"Request body delivered to the subscriber endpoint on each entity change event.","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/WebhookNotificationPayloadV1"}}},"LinksTarget":{"type":"object","description":"Standard V1 link — points to the changed entity.","required":["target"],"properties":{"target":{"type":"string","format":"uri","description":"API URL of the entity whose change triggered this notification.","example":"https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"}}},"LinksFeatureNote":{"type":"object","description":"V1 link shape for insight events — references both feature and note.","required":["feature","note"],"properties":{"feature":{"type":"string","format":"uri","example":"https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"},"note":{"type":"string","format":"uri","example":"https://api.productboard.com/notes/a1b2c3d4-e5f6-7890-abcd-ef1234567890"}}},"ErrorList":{"type":"object","description":"Container for one or more errors returned by the API.","required":["id","errors"],"properties":{"id":{"type":"string","description":"Unique correlation ID for this error occurrence. Include this value when contacting support.\nFormat: `req-{10-char-uuid-prefix}`.\n","example":"req-a1b2c3d4e5"},"errors":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Error"}}}},"Error":{"type":"object","description":"A single error.","required":["code","title","detail"],"properties":{"code":{"type":"string","description":"Machine-readable, stable error code. Webhook-specific codes:\n- `webhook.notFound` — Subscription not found (or access denied)\n- `callback.invalidUrl` — `notification.url` is invalid (not HTTPS, localhost, private IP, etc.)\n- `callback.probeFailed` — Subscription probe did not return the expected response\n- `scopes.invalid` — OAuth2 app lacks required scopes for the requested events\n\nSee [Error codes](https://developer.productboard.com/reference/error-codes) for the full list.\n","example":"webhook.notFound"},"title":{"type":"string","description":"Short, stable human-readable summary.","maxLength":255,"example":"Webhook not found"},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence.","maxLength":1000,"example":"Webhook with ID '550e8400-…' could not be found. It either doesn't exist or you don't have permission to access it."},"source":{"$ref":"#/components/schemas/ErrorSource"}}},"ErrorSource":{"type":"object","description":"Points to the source of the error in the request.","properties":{"pointer":{"type":"string","description":"JSON Pointer (RFC 6901) to the field in the request document.","example":"/data/fields/events"},"parameter":{"type":"string","description":"Query parameter name that caused the error.","example":"pageCursor"}}}},"responses":{"BadRequestResponse":{"description":"Bad request — request body or parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"requestInvalid":{"summary":"Request parameter invalid","value":{"id":"req-a1b2c3d4e5","errors":[{"code":"request.invalid","title":"Request invalid","detail":"The request contains an invalid parameter value. Check the request body and parameters.","source":{"pointer":"/data/fields/events"}}]}},"requestMalformed":{"summary":"Request body malformed","value":{"id":"req-b2c3d4e5f6","errors":[{"code":"request.malformed","title":"Request malformed","detail":"The request body could not be parsed. Ensure the Content-Type header is set to application/json and the body is valid JSON."}]}},"invalidUrl":{"summary":"Invalid callback URL","value":{"id":"req-c3d4e5f6a7","errors":[{"code":"callback.invalidUrl","title":"Invalid callback URL","detail":"Protocol must be 'https'. The URL must be publicly reachable with a valid TLS certificate."}]}},"schemaValidation":{"summary":"Schema validation error","value":{"id":"req-f6a7b8c9d0","errors":[{"code":"validation.requestBodySchema","title":"Validation error","detail":"Array is too short: must have at least 1 elements at path '/data/fields/events'.","source":{"pointer":"/data/fields/events"}}]}}}}}},"UnauthorizedResponse":{"description":"Authentication required — missing or invalid Authorization header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"authInvalid":{"summary":"Authentication invalid","value":{"id":"req-e5f6a7b8c9","errors":[{"code":"auth.invalid","title":"Authentication invalid","detail":"Missing or invalid Authorization header."}]}}}}}},"ForbiddenResponse":{"description":"Forbidden — insufficient permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"accessDenied":{"summary":"Access denied","value":{"id":"req-a7b8c9d0e1","errors":[{"code":"auth.accessDenied","title":"Access denied","detail":"You do not have permission to perform this action."}]}},"insufficientScopes":{"summary":"Missing OAuth2 scopes","value":{"id":"req-f6a7b8c9d0","errors":[{"code":"scopes.invalid","title":"Insufficient scopes","detail":"The OAuth2 application has insufficient scopes for creating this webhook. Required scopes: product-hierarchy-data:read"}]}}}}}},"NotFoundResponse":{"description":"Not found — resource does not exist or is not accessible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"resourceNotFound":{"summary":"Resource not found","value":{"id":"req-b8c9d0e1f2","errors":[{"code":"resource.notFound","title":"Resource not found","detail":"Webhook with ID '550e8400-e29b-41d4-a716-446655440000' could not be found. It either doesn't exist or you don't have permission to access it."}]}}}}}},"UnprocessableEntityResponse":{"description":"Unprocessable entity — request is well-formed but fails a business rule (e.g., the subscription probe failed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"probeFailed":{"summary":"Subscription probe failed","value":{"id":"req-a7b8c9d0e1","errors":[{"code":"callback.probeFailed","title":"Callback probe failed","detail":"The probe to 'https://example.destination.com/webhooks-handler' failed. Ensure the endpoint is publicly reachable, uses a valid HTTPS certificate, responds within 5 seconds, and echoes the validationToken query parameter as plain text.","source":{"pointer":"/data/fields/notification/url"}}]}},"validationFailed":{"summary":"Validation failed","value":{"id":"req-c9d0e1f2a3","errors":[{"code":"validation.failed","title":"Validation failed","detail":"The request data failed validation. Check the field values and try again.","source":{"pointer":"/data/fields/notification/url"}}]}},"referenceNotFound":{"summary":"Referenced resource not found","value":{"id":"req-d0e1f2a3b4","errors":[{"code":"validation.referenceNotFound","title":"Referenced resource not found","detail":"A referenced resource could not be found. Ensure all referenced IDs exist.","source":{"pointer":"/data/fields/events/0/eventType"}}]}}}}}},"RequestTimeoutResponse":{"description":"Request timed out.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"requestTimeout":{"summary":"Request timed out","value":{"id":"req-c9d0e1f2a3","errors":[{"code":"request.timeout","title":"Request timeout","detail":"The request timed out. Please try again."}]}}}}}},"TooManyRequestsResponse":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"rateLimitExceeded":{"summary":"Rate limit exceeded","value":{"id":"req-d0e1f2a3b4","errors":[{"code":"rate.limitExceeded","title":"Rate limit exceeded","detail":"Too many requests. Please slow down and retry after the rate limit window resets."}]}}}}}},"InternalServerErrorResponse":{"description":"Unexpected server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorList"},"examples":{"internalServerError":{"summary":"Unexpected server error","value":{"id":"req-e1f2a3b4c5","errors":[{"code":"internal.serverError","title":"Internal server error","detail":"An unexpected error occurred. Please try again or contact support with the error ID."}]}}}}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API token authentication. Use your API token as the value of the Authorization header"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.","flows":{"authorizationCode":{"authorizationUrl":"https://app.productboard.com/oauth/authorize","tokenUrl":"https://app.productboard.com/oauth/token","scopes":{"entities:read":"Read access to entities (features, components, initiatives, etc.)","write:entities":"Write access to create and modify entities","entities:delete":"Delete entities"}}}}}},"x-readme":{"samples-languages":["shell","javascript","ruby"]}}